@model IEnumerable<ImageSliderApp.Models.Template>

<h2>Templates</h2>

<table class="table">
    <thead>
        <tr>
            <th>Template Name</th>
            <th>Template Image</th>
            <th>Actionsss</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var template in Model)
        {
            <tr>
                <td>@template.TemplateName</td>
                <td>
                    <img src="@template.TemplateImagePath" alt="Template Image" width="100" />
                </td>
                <td>
                    <!-- Link om naar de AddOverlay pagina te gaan voor het betreffende template -->
                    <a href="@Url.Action("AddOverlay", "Template", new { templateId = template.TemplateID })" class="btn btn-primary">
                        Add Overlay
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
